body, html {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    font-size: 14px;
    background: #fff;
}

html {
    background-color: #D4D4D4;
}

body {
    width: 1000px;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
}

li + li {
    padding-top: 8px;
}

h1 {
    margin: 12px 0;
}

h2 {
    margin: 16px 0 8px 0;
}

h4 {
    margin: 16px 0 12px 0;
    font-size: 16px;
}

h5 {
    margin: 12px 0 8px 0;
    font-size: 14px;
}

p {
    margin: 8px 0;
    color: #414141;
    font-size: 16px;
    line-height: 1.5;
}

div {
    margin: 20px 0;
    border-bottom: 1px dashed #D4D4D4;
}

code {
    display: block;
    padding: 4px;
    border: 1px solid #D8DFE7;
    border-radius: 2px;
    background: #F7F8FA;
}

.code {
    padding: 0 2px;
    font-family: monospace;
    background: #E7ECF1;
    border-radius: 2px;
}
